[core]
	excludesfile = /Users/daipei/.gitignore_global
	editor = /usr/bin/vim
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /usr/local/bin/ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[user]
	email = steve.dp@antfin.com
	name = DaiPei
[commit]
	template = /Users/daipei/.stCommitMsg
[icdiff]
	options = --highlight --line-numbers
[alias]
	ll = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%an, %G?, %cr)%Creset' --abbrev-commit
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true