# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = daipei
	email = daipei@celer.network
[core]
	compression = 0
	excludesfile = /Users/daipei/.gitignore_global
[difftool "sourcetree"]
	cmd = /usr/local/bin/ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/daipei/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http "https://git.code.oa.com"]
      proxy = http://127.0.0.1:12639
[http "http://git.code.oa.com"]
      proxy = http://127.0.0.1:12639
