<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.daipei.dotfiles</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/daipei/dotfiles/up.sh</string>
  </array>
  <key>StartInterval</key>
  <integer>3600</integer>
<key>StandardOutPath</key>
<string>/Users/daipei/dotfiles/up.out</string>
<key>StandardErrorPath</key>
<string>/Users/daipei/dotfiles/up.err</string>
</dict>
</plist>