#=============================================================================
# dark_powered.toml --- dark powered configuration example for SpaceVim
# Copyright (c) 2016-2017 Wang Shidong & Contributors
# Author: Wang Shidong < wsdjeg at 163.com >
# URL: https://spacevim.org
# License: GPLv3
#=============================================================================

# All SpaceVim option below [option] section
[options]
  colorscheme = "gruvbox"
  colorscheme_bg = "dark"
  enable_guicolors = true
  guifont = "Fira Code"
  statusline_separator = "arrow"
  statusline_inactive_separator = "arrow"
  buffer_index_type = 4
  enable_tabline_filetype_icon = true
  enable_statusline_mode = false

[[layers]]
  name = 'autocomplete'
  auto-completion-return-key-behavior = "complete"
  auto-completion-tab-key-behavior = "smart"

[[layers]]
  name = 'shell'
  default_position = 'top'
  default_height = 30

[[layers]]
  name = "fzf"

[[layers]]
  name = "lang#javascript"

[[layers]]
  name = "lang#python"

[[layers]]
  name = "lang#ruby"

[[layers]]
  name = "chinese"

[[layers]]
  name = "colorscheme"

[[layers]]
  name = "lang#html"

[[layers]]
  name = "git"

[[layers]]
  name = "lang#json"

[[layers]]
  name = "lang#markdown"

[[layers]]
  name = "lang#swift"

[[layers]]
  name = "lang#typescript"

[[layers]]
  name = "lang#vim"

[[layers]]
  name = "lang#xml"

[[layers]]
  name = "lang#c"

[[layers]]
  name = "sudo"

[[layers]]
  name = "tools#screensaver"
